<div class="container mt-5">
    <div class="card border shadow">
        <div class="container">

            <h3 class="text-center my-3">About Us</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, voluptatem? A quia dolorum
                necessitatibus nostrum quas quo reprehenderit ab mollitia quidem soluta porro pariatur harum assumenda
                modi nesciunt doloremque officiis error doloribus, excepturi sint. Iste architecto corporis aspernatur
                unde praesentium deserunt sed culpa quam. Quia ullam ipsa autem repudiandae voluptas vitae culpa,
                temporibus quod provident neque nihil deserunt doloribus officiis laudantium aliquam enim expedita
                veniam illum eos, sunt excepturi deleniti fugit. Distinctio tempora culpa alias perspiciatis quaerat
                eveniet odio unde ut perferendis ipsa quae sequi doloribus debitis, ad dolorum assumenda animi atque
                aspernatur? Quibusdam commodi iste quia, eum illum natus!</p>
        </div>
    </div>
</div>